@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
* {
    -webkit-tap-highlight-color: transparent;
}
:root {
    --p: 30px;
    --ts: .3s;
    --t: 
        background var(--ts), 
        transform var(--ts), 
        opacity var(--ts),
        border-radius var(--ts), 
        box-shadow var(--ts)
    ;
    --bg: #111;

    --blur5:  blur(5px);
    --blur10: blur(10px);
    --blur15: blur(15px);
    --blur20: blur(20px);
}

body {
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
    transition: background 9.56s linear;
    /* background-size: 500%; */
    background-position: 50% 50%;
    /* animation: bodybg infinite 27s ease; */
}

app {
    padding: 65px var(--p) 0;
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 65px);
    width: calc(100vw - var(--p) - var(--p));
    overflow-y: auto;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(200px);
}
.transparent {
    opacity: 0;
}

.no_blur {
    backdrop-filter: none !important;
}
app.no_bg {
    background: #111
}

.tabs_object {
    width: fit-content;
    display: flex;
    background: rgba(255,255,255,.1);
    border-radius: 999px;
}
.tab_object {
    padding: 5px 14px;
    cursor: pointer;
    border-radius: 999px;
    transition: var(--t);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

} .tab_object:hover {
    background: var(255,255,255,.1);
} .tab_object:active {
    transform: scale(.9);
} .tab_object.active {
    background: rgba(255,255,255,.2);
} 

header.transparent {
    transform: translateY(-20px);
}
header {
    z-index: 3;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 10px var(--p) 25px;
    width: 100vw;
    transition: var(--t) ease;
    background: linear-gradient(to bottom, rgba(0,0,0,.4), transparent);
} header > img {
    border-radius: 999px;
    height: 40px;

} header > span {
    font-size: 22px;
    font-weight: 500;
} header > .count {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
    margin-top: 2px;
    background: rgb(35, 35, 35);
    color: #bbb;
    padding: 4px 10px 3px;
    font-size: 14px;
    border-radius: 999px;
} header > .count > svg {
    height: 18px;
    width: 18px;
    fill: #bbb !important;
}

@media (max-width: 590px) {
    header > .count {
        display: none;
    }
}